.liveAuctions {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    color: white;
  
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
  
    .auctionItem {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px;
      border-bottom: 1px solid #444;
  
      img {
        width: 200px;
        height: 200px;
        border-radius: 5px;
      }
  
      h3 {
        font-size: 18px;
      }
  
      p {
        color: #ffcc00;
      }
    }
  }